Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -modernize-use-trailing-return-type
WarningsAsErrors: ''
HeaderFilterRegex: '^(apps|libs|workers|tests)/'
FormatStyle: file


